.hero {
  display: flex;
  align-items: center;
  background-color: #243b8d;
  padding-top: 80px;
    overflow: visible !important;
  
}
.herox{
  display: flex;
  align-items: center;
  background-color: #243b8d;
  padding-top: 80px;
    overflow: visible !important;
  
}

.text-content {
  text-align: left;
}

.welcome-text {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.tagline {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin: 20px 0;
}
h1 {
  letter-spacing: 0px !important;
}
.get-started-btn {
  border-radius: 35px; /* Make the button rounded */
  padding: 15px 30px;
  font-size: 20px;
  background-color: #070030;
  border-color: #070030;
}
.get-started-btn1{
  border-radius: 35px; /* Make the button rounded */
  padding: 15px 30px;
  font-size: 20px;
  background-color: #070030;
  border-color: #070030;
}

.hero-image {
  max-width: 100%;
}
.hero-container {
  margin-left: 120px;
  margin-right: 120px;
}
.heroc-container {
  margin-left: 230px;
  margin-right: 150px;
}
.bg-translucent{
  background-color: white;
}
.calc_comp{
  opacity: 1 !important;
}
.strap{
  height: 265px !important;
  background-color: #040018;
  overflow: hidden;
}
.strap1{
  height: 450px !important;
  background-color: #C0B3F7;
  overflow: hidden;
  margin-top: 50px;
}
.nav-logo{ 
  object-fit: contain;
  width: 150px; 
  height: 150px; 
  padding-bottom: 5px;
}
.reviews_png{
  min-width: 250px;
  height: 80px;
  object-fit:cover;
  margin: 0px -24px;
}
.trustpilot_png{
  min-width: 150px;
  height: 50px;
  object-fit:cover;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -18px;
}
.bank_marq{
  /* margin-top: -10px; */
  /* object-fit: cover; */
  height: 500px;
}
.marquee-container {
  width: 100%;
  /* overflow: hidden; */
  background-color: #040016;
  white-space: nowrap;
  position: relative;
  margin-top: 0px;
}
.bank_head{
  z-index: 2;
  font-weight: bold;
  
}
.marquee-content {
  display: inline-block;
  animation: marquee-scroll 10s linear infinite;
}
.marquee-content img {
  width: 100%;  /* Set the width of the image (adjust if needed) */
  height: auto; /* Maintain aspect ratio of the image */
  margin-top: -70px;
}
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee-container {
  overflow: hidden;
  width: 100%;
}

.marquee-swiper {
  display: flex;
  align-items: center;
}

.marquee-slide {
  width: auto !important;
  display: flex;
  justify-content: center;
}

.marquee-image {
  height: 50px; /* Adjust size as needed */
  width: auto;
}

.marquee-container5 {
  width: 100%;
  background-color: #C0B3F7;
  white-space: nowrap;
  position: relative;
  margin-top: 0px;
}

.marquee-content5 {
  display: inline-block;
  animation: marquee-scroll1 10s linear infinite;
  animation-play-state: paused; /* Initially paused */
}

.marquee-container5:hover .marquee-content5 {
  animation-play-state: running; /* Play the animation when hovered */
}

.marquee-content5 img {
  width: 100%;  /* Set the width of the image (adjust if needed) */
  height: auto; /* Maintain aspect ratio of the image */
}

@keyframes marquee-scroll1 {
  0% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.graphCont{
  background: #fff;
  box-shadow: 0 12px 28px rgba(189,201,210,.32);
  border-radius: 20px;
  padding: 1rem;
}
.graph_sub_cont{
  background: #004479;
  width: 100%;
  height: 280px;
  background: #d4ecff;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  /* padding: 0px 16px 48px; */
  transition: display 2s;
  position: relative;
}
.results{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #f3fafe;
  border-radius: 8px;
  margin-top: 1rem;
  padding: .5rem 1rem;
}
.result1{
  text-align: center;
  background: #f3fafe;
  border-radius: 8px;
  padding: 10px;
  margin-right: 20px; /* Add some space between the two elements */
  padding-right: 20px; 
}
.result2{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.result1:not(:last-child) {
  border-right: 2px solid #ccc;
}
.helper_cont{
  margin-top: 20px;
}
.debt-content {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: var(--primary-color);
  margin: 0 0 .5rem;
}
.debt-helper-text-style {
  font-size: 24px;
  color: #040016;
  font-weight: 700;
}
.custom-barchart rect:nth-child(1) {
  fill: #5e7ae2 !important;  /* Make the first bar according to the theme */
  /* color: white; */
}

.custom-barchart rect:nth-child(2) {
  fill: rgb(245, 56, 39) !important;  /* Make the second bar red */
}
.custom-barchart rect {
  rx: 8px !important;  /* Radius for rounded corners */
  ry: 8px !important;  /* Radius for rounded corners */
}
/* .custom-barchart svg rect[x="withCredSettle"] {
  width: 20px !important;  
}

.custom-barchart svg rect[x="withoutCredSettle"] {
  width: 30px !important;  
} */
/* .custom-barchart svg rect:nth-of-type(1) {
  transform: scaleX(0.5) !important; 
}


.custom-barchart svg rect:nth-of-type(2) {
  transform: scaleX(0.5) !important; 
} */
@media screen and (max-width: 767px){
  .hero{
    display: block;
  }
  .hero-container{
    margin-left: 5px;
    margin-right: 5px;
  }
  .heroc-container {
    margin-left: 5px;
    margin-right: 5px;
    max-width:calc(100% - 10px);;

  }
  .hero-image{
    display: none;
  }
  .text-content{
    text-align: center;
    margin-bottom: 40px;
  }
  .text-content1{
    text-align: center;
    /* margin-bottom: 40px; */
  }
  .strap{
    display: none;
  }
  .trustpilot_png{
    min-width: 150px;
    height: 50px;
    object-fit:cover;
    /* margin-left: 24px; */
    margin-right: -24px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .tagline {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 20px 0;
  }
  .herox{
    display: flex;
    flex-direction: column;
  }
  .get-started-btn1 {
    border-radius: 25px; /* Make the button rounded */
    padding: 14.5px 14.5px;
    font-size: 13px;
    background-color: #070030;
    border-color: #070030;
  }
  .get-started-btn2 {
    border-radius: 25px; /* Make the button rounded */
    padding: 14.5px 14.5px;
    font-size: 13px;
    background-color: white;
    border-color: #070030;
    color: #070030;
  }
  .strap1{
    display: none;
  }
}