.hero {
  display: flex;
  align-items: center;
  background-color: #243b8d;
  padding: 20px;
    overflow: visible !important;
  
}

.text-content {
  text-align: left;
}

.welcome-text {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.tagline {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin: 20px 0;
}
h1 {
  letter-spacing: 0px !important;
}
.get-started-btn {
  border-radius: 25px;
  padding: 20px 30px;
  font-size: 18px;
  background-color: darkslateblue;
  border-color: darkslateblue;
}

.hero-image {
  max-width: 100%;
}
.hero-container {
  margin-left: 150px;
  margin-right: 150px;
}
.bg-translucent{
  background-color: white;
  opacity: 0.2;
}
.strap{
  height: 351px !important;
  background-color: #040018;
}