.disc_btn{
    background-color: #F2F5FF !important;
    border-color: #F2F5FF !important;
    box-shadow: none !important;
}
.dropdown-icon {
    height: 1em;  /* Makes the height of the icon equal to the text height */
    width: auto;  /* Maintains aspect ratio */
    margin-left: 10px; /* Optional: Adjusts spacing between the text and icon */
  }
.rating{
    background-color: #070030;
    max-width: 50%;
    height: 300px;
    color: white;
}  
.rate_text_sec{
    line-height: 60px;
}
.txt1{
    max-width: 70%;
}
.rate_txt{
    margin-top: 40px;
}
.icon{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
@media screen and (max-width: 767px){
    .txt2{
        text-align: center !important;
    }
    .txt1{
        max-width: 100%;
    }
    .rating{
        max-width: 100%;
    }
    .why_btn{
        text-align: center !important;
        align-items: center !important;
    }
    .faq{
        align-items: center !important;
        width: 100% !important;
        text-align: center !important;
    }
    .rate_text_sec{
        line-height: 45px;
    }
}
.faq-section {
    min-width: 100%;
  }
  
  .faq-container {
    min-width: 100%;
    padding: 20px;
  }
  .hero-container1{
    margin-left: 120px;
    margin-right: 120px;
  }
  
  @media (max-width: 768px) {
    .faq-container {
      padding: 15px;
      max-width: 100%;
    }
    .faq-item {
      padding: 15px;
    }
    .hero-container1{
        margin-left: 5px;
        margin-right: 5px;
      }
  }
  