.blog-section {
  background-color: #f9f9f9;
}

.blog-card {
  background-color: white;
  border: 1px solid #ddd;
  transition: transform 0.3s ease-in-out;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.blog-description {
  font-size: 1rem;
  color: #555;
}

.blog-section .col-md-4 {
  margin-bottom: 30px;
}
.blog-detail {
  max-width: 100%;
  padding: 50px;
  text-align: center;
}

.blog-image-container {
  width: 100%;  /* Spread the image across the full width of the screen */
  height: 60vh; /* Adjust the height to give it a rectangular shape */
  overflow: hidden;  /* Hide any overflowed content if the image exceeds container bounds */
  position: relative;
}

/* Blog image styling */
.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* This ensures the image covers the container area without distorting its aspect ratio */
}

/* Responsiveness */
@media (max-width: 768px) {
  .blog-section .col-md-4 {
    margin-bottom: 20px;
  }
}

.elipse5 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
